@model Telefon_Rehberi.Areas.Admin.Models.CalisanYonetim.CalisanDuzenleViewModel
@{
    ViewBag.Title = "CalisanDuzenle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mx-auto col-sm-6">

    <div class="card">
        <div class="card-header">
            <h4 class="mb-0">Çalışan Bilgisi</h4>
        </div>
        <div class="card-body">
            @using (Html.BeginForm("CalisanDuzenle", "CalisanYonetim", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.HiddenFor(model =>model.Calisan.ID)
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Ad</label>
                    <div class="col-lg-9">
                        @Html.EditorFor(model => model.Calisan.Ad, new { htmlAttributes = new { @class = "form-control", type = "text", placeholder = "Ad", required="" } })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Soyad</label>
                    <div class="col-lg-9">
                        @Html.EditorFor(model => model.Calisan.Soyad, new { htmlAttributes = new { @class = "form-control", type = "text", placeholder = "Soyad", required = "" } })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Soyad</label>
                    <div class="col-lg-9">
                        @Html.EditorFor(model => model.Calisan.Telefon, new { htmlAttributes = new { @class = "form-control", type = "tel", placeholder = "05XXXXXXXXX", required = "" } })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Departman</label>
                    <div class="col-lg-9">
                        @Html.DropDownListFor(model => model.Calisan.DepartmanID, new SelectList(Model.DepartmanList, "ID", "Ad"), "Departman Seçiniz", new { @class = "form-control"} )
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Yönetici</label>
                    <div class="col-lg-9">
                        @Html.DropDownListFor(model => model.Calisan.YoneticiID, Model.CalisanSelectList, "Yönetici Seçiniz", new { @class = "form-control"} )
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label"></label>
                    <div class="col-lg-9">
                        <a href="@Url.Action("Index","UI")" class="btn btn-secondary">İptal</a>
                        <button type="submit" class="btn btn-primary">Kaydet</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
